div#header
	span.navSpan 
		a(href="/") 问吧
	duv#search
		input(placeholder='搜索问题')
		span.fa.fa-search
	div.login
		div#loginHover
			p(class='fa fa-user') 
				a#userPageBtn(href='#') 个人主页
			p(class='fa fa-power-off') 
				span#logout 退出
