div#header
	span.navSpan 问吧
	#search
		input(placeholder='搜索问题')
		span.fa.fa-search
	div#signin #{username}
		div#signinHover
			p(class='fa fa-user') 
				<a id='userPage' href='#'>个人主页</a>
			p(class='fa fa-power-off') 
				<a href='127.0.0.1:3000/'>退出</a>
