#newDebateDialog
	p 提问 
		span#ddCancelOne(class='fa fa-close fa')
	form#debateDialogDown
		textarea#textareaOne(placeholder='写下你的问题')
		p 问题说明（可选）：
		textarea#textareaTwo
		p 写下话题（逗号分割）:
		textarea#textareaThree
		span#ddCancelTwo 取消
		span#release 发布