doctype html
html
    head
        meta(charset='utf-8')
        link(rel='stylesheet' href='/stylesheets/door.css')
        link(rel='shorticon icon' href='/images/favicon.ico')
        title 不知 - 与世界分享你刚编的故事
                
    body
        div#particle-js
            div#container
                h1 不知
                p#sub 与世界分享你刚编的故事
                div#InAndUp
                    span#logInBtn 登录  
                    span#signUpBtn 注册
                form#logInForm(action='/api/login' method='post')
                        div
                            input(type='text' name='usernamename'  placeholder='用户名')
                            input(type='password' name='passwordname' placeholder='密码')
                        input(type='submit' value='登录').sign
                form#signUpForm(action='/api/signup' method='post')    
                        div
                            input.email(type='email' name='email' placeholder='请输入你的邮件')
                            input(type='text' name='usernamename' placeholder='用户名')    
                            input(type='password' name='passwordname' placeholder='密码')
                            input(type='password' name='passwordname2' placeholder='重复密码')
                            input.captcha(type='text' name='captcha' placeholder='验证码')
                            button.getCaptcha 获取验证码

                        input#formSignUp(type='submit' value='注册').sign
                footer 此网站为
                    a(href='https://shuirong.github.io/' target='_blanket')  林水溶
                    |   所写, 
                    a(href='https://github.com/shuiRong/Ask-Answer') 网站源码 
                    span 不给个Star？
        script(src='/javascripts/jquery-3.1.1.min.js')
        script(src='/javascripts/particles.js')
        script(src='/javascripts/publicDoor.js')