div#profile
	div#tagSection
		//- span.tags 和谐
		//- span.tags 法制
		//- span.tags 诚实
		//- span.tags 友善
	div#footer
		| 此网站是作者学习Node.js时的产物，也是第一次尝试自己搞定前后端。
		br
		br
		|联系作者：
		a(href='https://github.com/shuiRong') 林水溶