extends layout

block content
    div#userPage
        div#userHeader
            div#uh-section
                div#uhs-img(src='#')
                div#uhs-right
                    span #{username}
                    each tag in selfTags
                        span.uhs-tags #{tag}
                    p #{motto}
        div#userMain
            div#uMainLeft
                div#uml-header
                    span 回答
                        span 2
                    span 提问
                        span 5
                div#uml-main
                    div#umlm-ans 回答
                        
                    div#umlm-quest 提问

            div#uMainRight

    script(src='/javascripts/userPage.js')