extends layout

block content
    div#userPage
        div#userHeader
            div#uh-section
                div#uhs-img(src='#')
                div#uhs-right
                    span #{username}
                    each tag in selfTags
                        span.uhs-tags #{tag}
                    p #{motto}
        div#userMain
            div#uMainLeft
                div#uml-header
                    span 回答
                        span 2
                    span 提问
                        span#mhlh-num2 5
                div#uml-main
                    div#umlm-ans 回答
                        
                    div#umlm-quest 
                        div.item
                            p.item-title 我是问题1我是问题1我是问题1我是问题1我是问题1我是问题1我是问题1
                            div.item-time-tags
                                span.item-time 2017-11-12-12-13
                                div.item-tags-div
                                    span.item-tag 社会
                                    span.item-tag 法制
                                    span.item-tag 友善
                                    span.item-tag 和谐
                        div.item
                            p.item-title 我是问题1我是问题1我是问题1我是问题1我是问题1我是问题1我是问题1
                            div.item-time-tags
                                span.item-time 2017-11-12-12-13
                                div.item-tags-div
                                    span.item-tag 社会
                                    span.item-tag 法制
                                    span.item-tag 友善
                                    span.item-tag 和谐

            div#uMainRight

    script(src='/javascripts/userPage.js')