extends layout

block content
    div#userPage
        div#userHeader
            div#uh-section
                div#uhs-img(src='#')
                div#uhs-right
                    span #{username}
                    each tag in selfTags
                        span.uhs-tags #{tag}
                    p #{motto}
            div#userEditBtn 编辑个人资料
        div#userMain
            div#uMainLeft
                div#uml-header
                    span#umlh-num3 回答
                        span#umlh-num4 0
                    span#umlh-num1 提问
                        span#mhlh-num2 0
                div#uml-main
                    div#umlm-ans
                        //-  div.item
                        //-     p.item-title 我是问题1我是问题1我是问题1我是问题1我是问题1我是问题1我是问题1
                        //-     div.item-answer
                        //-         | 回答第一个问题回答第一个问题回答第一个问题回答第一个问题回答第一个问题回答第一个问题
                        //-         | 回答第一个问题回答第一个问题回答第一个问题回答第一个问题回答第一个问题回答第一个问题      
                        //-     span.item-time 2017-11-12-12-13
                        //-     span.item-comment.fa.fa-comment &nbsp;评论

                    div#umlm-quest
                        //- div.item
                        //-     p.item-title 我是问题1我是问题1我是问题1我是问题1我是问题1我是问题1我是问题1
                        //-     div.item-time-tags
                        //-         span.item-time 2017-11-12-12-13
                        //-         div.item-tags-div
                        //-             span.item-tag 社会
                        //-             span.item-tag 法制
                        //-             span.item-tag 友善
                        //-             span.item-tag 和谐

            div#uMainRight
        div#userPageEdit
            div#upe-img
            form(action="/api/useredit",method="post")#upe-main
                h1 林水溶
                span(class="fa fa-close fa-3x")
                div#upem-sex 
                    span 性别
                    span.input
                        input(type='radio' name='sex' value='male' id='maleID')
                        label(for='maleID') 男
                        input(type='radio' name='sex' value='famale' id='famaleID')
                        label(for='famaleID') 女
                        input(type='radio' name='sex' value='other' id='otherID')
                        label(for='otherID') 其他
                div
                    span#upem-description 一句话介绍
                    input(name='description').input
                div
                    span#upem-address 居住地
                    input(name='address').input
                div
                    span#upem-industry 所在行业
                    input(name='industry').input
                div
                    span#upem-carerr-experience 职业经历
                    input(name='experience').input
                div
                    span#upem-education 教育经历
                    input(name='education').input
                div
                    span#upem-introdution 个人简介
                    input(name='introdution').input 
                input(type="submit" value="提交修改").submit

    script(src='/javascripts/userPage.js')