#content-grid{
	list-style: none;
}
#content-grid-pop{
	display: flex;
	width: 100%;
	/*background: green;*/
	background: white;
	flex-direction: column;
}
#content-grid-new{
	display: none;
	flex-direction: column;
	background: white;
	/*background: blue;*/
}
#content-grid .itemLi{
	margin-top: 1rem;
	padding:1.5rem;
	list-style:none;
	display:flex;
	border-bottom: 2px dashed #ddd;
	padding-bottom: 2rem;
}

#content-grid .itemImg{
	background: grey;
	width: 8rem;
	height: 8rem;
	margin-right:2rem;
}
#content-grid .li-content{
	width: calc(100% - 10rem);
	position: relative;
}
#content-grid .itemTitle{
	font-size:1.5rem;
	font-weight:bold;
	margin-bottom:0.5rem;
}
#content-grid .questionProducer{
	display: inline-block;
	margin-top: 1.5rem;
	font-size: 15px;
	color: grey;
}
#content-grid .itemTags{
	position:absolute;
	right:2rem;
	display: inline-block;
	margin-top: 1.5rem;
}
#content-grid .itemTag{
	display: inline-block;
	margin: 0 5px;
	font-size: 13px;
	color: grey;
}	