#container{
	width:50%;
	position:absolute;
	left:10%;
	top:10rem;
}

#newDebate{
	width:100%;
	height:5rem;
	background:white;
}

#newDebate span{
	margin-top:1.5rem;
	font-size:2rem;
}

#askSpan{
	margin-left:35%;
}

#ansSpan{
	position:absolute;
	left:60%;
}

