#container{
	width:50%;
	position:absolute;
	left:10%;
	top:10rem;
}

#newDebate{
	width:100%;
	height:5rem;
	background:white;
}

#newDebate span{
	margin-top:1.5rem;
	font-size:2rem;
}

#askSpan{
	margin-left:35%;
}

#ansSpan{
	position:absolute;
	left:60%;
}
/*`````````````````````````````*/

#content-header{
	height: 4rem;
	margin-top: 2rem;
	display: flex;
	align-items: center;
	border-bottom: 1px solid grey;
}
#content-header span{
	margin: 0 2rem;
	height: 3rem;
	font-size: 20px;
	padding-top: 4px;
	font-weight: bold;
}
#content-header #popularBtn{
	margin-right: 4rem;
}
