*{
	margin:0;
	padding:0;
}
html{
	font-size:12px;
}
body {
  font: 12px;
	font-family:'Microsoft YaHei','Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Noto Sans CJK SC','WenQuanYi Micro Hei',Arial,sans-serif;
  background: #f7f8fa;
	min-width:850px;
}

