*{
	margin:0;
	padding:0;
}
html{
	font-size:12px;
}
body {
  font: 12px;
	font-family: Baskerville, Georgia, "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, DFKai-SB, "TW\-Kai", serif;sans-serif;
  background: #f7f8fa;
	min-width:850px;
}

