/*markdown 的样式*/
strong{
    color: darkgreen;
}
pre{
    margin: 0.2rem 0 1.5rem 0;
    overflow: auto;
}
code{
    border-radius: 7px;
}
blockquote{
    margin: 1rem 0 ;
}
blockquote p{
    padding: 0.5rem 1rem;
    background: lightgrey;
}
ul,ol{
    margin: -0.5rem 0;
    padding-left: 1.5rem;
    color: darkgoldenrod;
}
ul li,ol li{
    margin: -0.2rem 0 ;
    line-height: 30px;
}
ol{
    font-weight: bold;
}
ol li{
    font-weight: normal;
}
hr{
    border-color: lightyellow;
    margin: 1.5rem 0 ;
}
p{
    letter-spacing: 2px;
    line-height: 20px;
}
h1,h2,h3,h4,h5{
    margin: 1rem;
    margin-left: 0;
}