#userPage{
    width: 55%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}

#userHeader{
    background: white;
    width: 100%;
    height: 25rem;;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    position:relative;
    border: 1px solid #ddd;
}
#uh-section{
    width: 90%;
    height: 50%;
    position: absolute;
    bottom: 2rem;
    left: 0;
    display: flex;
    align-items: flex-end;
}
#uhs-img{
    width: 12rem;
    height: 12rem;
    background: #999;
    margin:1rem;
    margin-left: 2rem;
}
#uhs-right{
    width: 70%;
    height: 10rem;
    margin: 1rem;
}
#uhs-right span{
    display: inline-block;
    margin: 0.5rem;
    background: #ddd;
    padding: 0 4px;
    border-radius: 2px;
}
#uhs-right span:first-child{
    font-size: 25px;
    background: white;
}
#uhs-right p:last-child{
    margin:1rem;
    font-size: 15px;
    overflow-wrap: break-word;
    letter-spacing: 1px;
}

/*```````````````````````*/

#userMain{
    width: 100%;
    display:flex;
    justify-content: space-between;
}

#uMainLeft{
    background: white;
    width: 62%;
    min-height: 12rem;
    border-radius: 0.3rem;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    border: 1px solid #ddd;
}
#uml-header{
    height: 5rem;
    margin: 2rem 2rem 0 2rem;
    padding-bottom: 1rem;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
#uml-header >span{
    margin: 0 1rem;
    letter-spacing: 1px;
}
#uml-header > span > span {
    margin: 0 0.2rem;
    font-size: 1.3rem;
    color: grey;
}

#uml-main{
    /*min-height: 5rem;*/
    margin: 0 2rem;
}
#umlm-quest{    
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
#umlm-quest .item{
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #ddd;
}
#umlm-quest .item-title{
    font-size: 22px;
    margin-bottom: 1rem;
}
#umlm-quest .item-time-tags{
    display: flex;
    justify-content: space-between;
}
#umlm-quest .item-time{
    font-size: 15px;
    color: grey;
}
#umlm-quest .item-tags-div{

}
#umlm-quest .item-tag{
    font-size: 15px;
    margin: 0 5px;
    color: grey;
}




#umlm-ans{
    display:none;
}


#uMainRight{
    background: white;
    width: 35%;
    height: 40rem;
    border-radius: 0.3rem;
    border: 1px solid #ddd;
}

/*`````````````````````````*/

